@use "../../assets/styles/variables" as *;

.counter {
    align-self: center;
    text-align: center;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: $counter-color;
    color: black;
  

    &__heading{
        font-size: 12px;
        font-weight: none;
    }

    &__button {
        justify-content: space-around;
        width: 25%;
        border: 1px solid black;
        border-radius: 5px;
        background-color: black;
        color: $card-font;
        font-size: 20px;
    }
}
