@use "../../assets/styles/variables" as *;

.tracker-search{

    &__filter{
        display: block;
        align-self: center;
        

        &--label{
            width: fit-content;
        }

        &--select{
            font-size: 12px;
            width:max-content;
        }
    }
}

@media screen and (min-width: 768px){
    .tracker-search{

        &__filter{
            display: block;
        }

    }
}
