@use "../../App.scss";

.tracker{
    display: flex;
    flex-wrap: wrap;
    
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid black;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 14px;
        margin: 10px;
        width: 40%;

        &--info {
            text-align: left;
        }
    }
}

@media screen and (min-width: 768px) {
    .tracker{

        &__card {
        width: 15%;
    }
}
}