@use "../../App.scss";
@use "../../assets/styles/variables" as *;

.tracker{
    display: flex;
    flex-wrap: wrap;
    
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid #235789;
        border-radius: 20px;
        box-shadow: 5px 5px 5px;
        padding: 5px;
        padding-bottom: 10px;
        font-size: 14px;
        margin: 10px;
        width: 40%;
        background-color: $card-color;

        &--info {
            text-align: left;
        }
    }
}

@media screen and (min-width: 768px) {
    .tracker{

        &__card {
        width: 15%;
    }
}
}